
html, body {
    margin: 0;
    height: 100%;
    position: relative;
}

main {
    z-index: 100;
    position: fixed;
    min-width: 90%;
    max-height: 80%;
    top: 15%;
    left: 5%;
    text-align: center;
}

header{
    position: fixed;
    text-align: center;
    z-index: 23;
    color: rgb(255, 255, 255);
    background-image: linear-gradient(rgb(0, 0, 0, 0.9) 80%, rgba(0,0,0,0.45), rgba(0,0,0,0));
    height: 10%;
    width: 100%;
    padding-top: 3%;
    font-size: 3em;
    font-family: "Poller One", serif;
    font-weight: 400;
    font-style: normal;
}

header > span {
    position:absolute;
    font: 0.5em monospace;
    right: 5%;
    padding: 5px;
    border: 2px solid white;
    border-radius: 10px;
}
header > span:hover {
    border-color: grey;
    color:grey;
}



table{
    margin: 0 10%;
    max-height: 20%;
    font-size: 1.2em;
    border-collapse: separate;
    border-spacing: 3em;
}

td{
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.9) 5%, rgba(255, 255, 255, 0.9));
    height: 5%;
    padding: 2% 1% 1% 1%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    border-radius: 5px;
    font: 1.2em verdana, monospace;
}
th{
    font-family: Courier, monospace;
}

p{
    min-height: 30%;
    min-width: 60%;
    max-height: fit-content;
    max-width: 60%;
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.9) 5%, rgba(255, 255, 255, 0.9));
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    border-radius: 5px;
    font-size: 2em;
    margin: 5% auto;
    padding: 5% ;
    z-index: 49;
    word-break: break-word;
    overflow: auto;
    
    font-family: monospace;
}





img {
    height: 100%;
    width: 100%;
    position: absolute;
    object-fit: cover;
    display: block;
}


.float {
    position: fixed;    
    height: 100%;
    width: 6%;
    z-index: 666;
    opacity: 10%;
}

.fancy {

    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.9) 5%, rgba(255, 255, 255, 0.9));
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    border-radius: 5px;
}

.filler{
    visibility: hidden;
    max-height: 100px;
}

.profile{
    border-radius: 50%;
    display: fixed;
    z-index: 500;
    max-height: 11%;
    max-width: 10%;
    border: 15px solid rgb(255, 255, 255, .9);
    background-color: rgba(0, 0, 0, 0.5);
    left: 5%;
}

.previous {
    position: fixed;
    top: 15%;
    left: 83%;
    z-index: 500;
    color: white;
    padding: 0.5%;
    border: 5px solid white;
    font: 2em monospace;

    /* padding: 5px; */
    border-radius: 10px;
}

.opt1, .opt2, .opt3, .opt4, .opt5, .opt6{
    display: none;
}

.row1:has(div.hov1:hover) ~ p span.opt1{
    display: block;
}

.row1:has(div.hov1:hover) ~ p{
    max-width: 50%;
}
.row1:has(div.hov1:hover) ~ p span.initial{
    display: none;
}

.row1:has(div.hov2:hover) ~ p span.opt2{
    display: block;
}
.row1:has(div.hov2:hover) ~ p span.initial{
    display: none;
}

.row2:has(div.hov2:hover) ~ p span.opt2{
    display: block;
}
.row2:has(div.hov2:hover) ~ p span.initial{
    display: none;
}

.row2:has(div.hov3:hover) ~ p span.opt3{
    display: block;
}
.row2:has(div.hov3:hover) ~ p span.initial{
    display: none;
}

.row2:has(div.hov4:hover) ~ p span.opt4{
    display: block;
}
.row2:has(div.hov4:hover) ~ p span.initial{
    display: none;
}

.row3:has(div.hov4:hover) ~ p span.opt4{
    display: block;
}
.row3:has(div.hov4:hover) ~ p span.initial{
    display: none;
}


.row3:has(div.hov5:hover) ~ p span.opt5{
    display: block;
}
.row3:has(div.hov5:hover) ~ p span.initial{
    display: none;
}

.row3:has(div.hov6:hover) ~ p span.opt6{
    display: block;
}
.row3:has(div.hov6:hover) ~ p span.initial{
    display: none;
}





.row1 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: auto;
    min-height: 100px;
}
.row1 > div{
    height: 150px;
    width: 150px;
    margin: 0 -35%;
}

.row2 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: auto;
    min-height: 100px;
}
.row2 > div{
    height: 150px;
    width: 150px;
    margin: 0 -10%;
}
.row1, .row2{
    margin-bottom: 2%;
}

.row3 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    min-height: 100px;
    margin-bottom: -2%;
}
.row3 > div{
    height: 150px;
    width: 150px;
    margin: 0 15%;
}


#right {
    right: 0;
}





#layer1{
    z-index: 0;
    transition: all 2s ease-in-out;
}
#layer2{
    z-index: 1;
    transition: all 2s ease-in-out;
}
#layer3{
    z-index: 2;
    transition: all 2s ease-in-out;
}
#layer4{
    z-index: 3;
    transition: all 2s ease-in-out;
}
#layer5{
    z-index: 4;
    transition: all 2s ease-in-out;
}
#layer6{
    z-index: 5;
    transition: all 2s ease-in-out;
}
#layer7{
    z-index: 6;
    transition: all 2s ease-in-out;
}

#left:hover ~ #layer7 {
    margin-left: 150px;
}
#right:hover ~ #layer7 {
    margin-left: -150px;
}

#left:hover ~ #layer6 {
    margin-left: 70px;
}
#right:hover ~ #layer6 {
    margin-left: -70px;
}

#left:hover ~ #layer5 {
    margin-left: 30px;
}
#right:hover ~ #layer5 {
    margin-left: -30px;
}

#left:hover ~ #layer4 {
    margin-left: -5px;
}
#right:hover ~ #layer4 {
    margin-left: 5px;
}

aside div img{
    scale: 1.3 1;
    overflow-y: visible;
    position: fixed;
}


#objective, #summary, #goals, #qualifications, #uniqueness, #education, #work, #passion, #accessibility {
    display: none;
}

#summary > p::before{
    content: '\A';
    margin: 1%;
}

#accessibility{
    top: 15%;
    position: fixed;
    z-index: 999;
    background-color: white;
    overflow: scroll;
    left: 0;
    height: 80%;
    font-size: 2em;
    text-align: left;
    padding: 0 1%;
}

.icon{
    border-radius: 100px;
    background-color: rgba(255, 255, 255, 0.9);
    font-size: 5em;
    display: flex;
    justify-content: center;
}
.icon:hover{
    background-color: rgba(230, 230, 230, 0.9);
}
.icon > span{
    position: absolute;
    font-size: 0.5em;
    background-color: rgba(196, 230, 207);
    border: 7.5px solid rgba(124, 207, 152);
    border-radius: 25px;
    padding: 0 10px;
    transform: translate(0, 110px);
    font-family: monospace;
}

.bingo{
    max-width: 100px;
    max-height: 100px;
    text-align: center;
}

@media (max-width: 1500px) or (max-height: 1000px){
    main, .profile, p, .icon{
        transform: scale(0.75) ;
    }
    p{
        transform: translateY(-5%);
    }
    .row1 > div{
        margin: 0 0.25%;
    }
    .row1, .row2{
        margin-bottom: -1%;
    }
    table{
        all: unset;
    }
    .previous{
        left:-20%;
    }
    #accessibility{
        padding: 15% 10%;
        transform: translateY(-10%);
    }
    header > span{
        transform: translateY(200%);
    }
    
}

@media (max-width: 800px) or (max-height: 400px){
    #objective, #summary, #goals, #qualifications, #uniqueness, #education, #work, #passion, #main, aside, header, .profile {
        display: none;
    }

    #accessibility{
        display: block;
        left:-5%;
        width: 100%;
    }
}